In [23]:
#import dependencies
import pandas as pd
import gmaps
import requests
import ipywidgets as widgets
import gmaps
import gmaps.datasets

#Import API key
from config import g_key

In [24]:
#Store the saved CSV created in part one into a data frame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Moresby,PG,2022-05-04 03:34:31,-9.4431,147.1797,89.02,66,40,17.27
1,1,Kapaa,US,2022-05-04 03:34:31,22.0752,-159.3190,80.58,81,100,18.41
2,2,Port Alfred,ZA,2022-05-04 03:34:32,-33.5906,26.8910,61.18,96,24,8.03
3,3,Atuona,PF,2022-05-04 03:34:32,-9.8000,-139.0333,79.23,79,100,18.61
4,4,Busselton,AU,2022-05-04 03:34:32,-33.6500,115.3333,63.55,44,4,13.58

In [25]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [26]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [27]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [29]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Moresby,PG,2022-05-04 03:34:31,-9.4431,147.1797,89.02,66,40,17.27
1,1,Kapaa,US,2022-05-04 03:34:31,22.0752,-159.3190,80.58,81,100,18.41
3,3,Atuona,PF,2022-05-04 03:34:32,-9.8000,-139.0333,79.23,79,100,18.61
7,7,Hithadhoo,MV,2022-05-04 03:34:34,-0.6000,73.0833,80.19,86,100,23.55
10,10,Puerto Escondido,MX,2022-05-04 03:34:35,15.8500,-97.0667,83.23,69,40,8.05
11,11,Bengkulu,ID,2022-05-04 03:34:36,-3.8004,102.2655,84.06,69,92,7.09
15,15,Maningrida,AU,2022-05-04 03:34:37,-12.0667,134.2667,89.01,54,66,11.86
23,23,Butaritari,KI,2022-05-04 03:34:40,3.0707,172.7902,81.84,75,22,11.59
24,24,Zhangye,CN,2022-05-04 03:34:40,38.9342,100.4517,80.53,9,47,4.68
26,26,Pangkalanbuun,ID,2022-05-04 03:33:51,-2.6833,111.6167,84.99,80,93,0.96

In [35]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [36]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0       Port Moresby      PG     89.02  -9.4431  147.1797
1              Kapaa      US     80.58  22.0752 -159.3190
3             Atuona      PF     79.23  -9.8000 -139.0333
7          Hithadhoo      MV     80.19  -0.6000   73.0833
10  Puerto Escondido      MX     83.23  15.8500  -97.0667
11          Bengkulu      ID     84.06  -3.8004  102.2655
15        Maningrida      AU     89.01 -12.0667  134.2667
23        Butaritari      KI     81.84   3.0707  172.7902
24           Zhangye      CN     80.53  38.9342  100.4517
26     Pangkalanbuun      ID     84.99  -2.6833  111.6167

In [37]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Port Moresby,PG,89.02,-9.4431,147.1797,Lamana Hotel (Port Moresby)
1,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Atuona,PF,79.23,-9.8000,-139.0333,Villa Enata
7,Hithadhoo,MV,80.19,-0.6000,73.0833,Scoop Guest House
10,Puerto Escondido,MX,83.23,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
11,Bengkulu,ID,84.06,-3.8004,102.2655,Grage Hotel Bengkulu
15,Maningrida,AU,89.01,-12.0667,134.2667,Dhukurrdji Lodge
23,Butaritari,KI,81.84,3.0707,172.7902,Isles Sunset Lodge
24,Zhangye,CN,80.53,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
26,Pangkalanbuun,ID,84.99,-2.6833,111.6167,Grand Kecubung Hotel

In [39]:
#Add a heatmap of temperature for vacation spots
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

 ### Code Breakdown ###
 #Set hotel_info equal to the info_box_content
 #In the list comprehension, each "row" of hotel_df is iteratted and then formatted into the template
 #Only rows defined in the info_box_template are used, which are hotel name, city, country, max temp

In [41]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))